/* Box Model Hack */
* {
     box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
     font-size: 62.5%;
}

body {
     
     font-family: 'Lato', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
nav {
     display: flex;
     justify-content: space-between;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.temperature-conversion,
.length-conversion,
div {
     display: flex;
     flex-direction: column;
     align-items: center;
     font-size: 1.2rem;
}

::placeholder {
     font-weight: 700;
     font-size: 0.9rem;
}

#theme-selector,
.logo {
     width: 3%;
     height: auto;
     margin: 2%;
}

.darkMode {
     background: #212125;
     color: #239d60;
}